input.input-default
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  outline: 0
  display: inline-block
  width: 20em
  padding: 7px
  border: 0
  border-bottom: 1px solid #ddd
  background: transparent
  margin-bottom: 10px
  font-family: 'Electrolize', sans-serif
  font-size: 15px
  height: 45px
  color: $white
